.Rproj.user
.Rhistory
.RData
.pdf
_book/
_bookdown_files/
bookdown-demo.log
data/
GentleIntro.log
GentleIntro_files/
GentleIntro.tex
GentleIntro.pdf
GentleIntro.lof
GentleIntro.lot
GentleIntro.out
GentleIntro.synctex.gz
GentleIntro.toc
GentleIntroTutors2018.aux
GentleIntroTutors2018.lof
GentleIntroTutors2018.log
GentleIntroTutors2018.lot
GentleIntroTutors2018.out
GentleIntroTutors2018.pdf
GentleIntroTutors2018.synctex.gz
GentleIntroTutors2018.tex
GentleIntroTutors2018.toc
GentleIntro.aux
GentleIntroTutors.aux
GentleIntroTutors.lof
GentleIntroTutors.log
GentleIntroTutors.lot
GentleIntroTutors.out
GentleIntroTutors.pdf
GentleIntroTutors.synctex.gz
GentleIntroTutors.tex
GentleIntroTutors.toc
GentleIntro_copy.tex
GentleIntro2019_20Sem2.tex
GentleIntro*.*
GentleIntroTutors2019_20sem2_wdn.pdf
GentleIntro.pdf -> GentleIntro_wdn.pdf
GentleIntro2019_20sem2.pdf
GentleIntro2019_20sem2_Overleaf.zip
GentleIntroTutors2019_20.pdf
GentleIntroTutors2019_20Sem1.pdf
GentleIntroTutors2019_20Sem1.tex
GentleIntroTutors2019_20Sem2.tex
GentleIntroTutors2019_20sem2.pdf
GentleIntroTutors2019_20.pdf
