.Rproj.user
.Rhistory
.RData
.pdf
_book/
_bookdown_files/
bookdown-demo.log
data/
GentleIntro.log
GentleIntro_files/
GentleIntro.tex
GentleIntro.pdf
GentleIntro.lof
GentleIntro.lot
GentleIntro.out
GentleIntro.synctex.gz
GentleIntro.toc
GentleIntroTutors2018.aux
GentleIntroTutors2018.lof
GentleIntroTutors2018.log
GentleIntroTutors2018.lot
GentleIntroTutors2018.out
GentleIntroTutors2018.pdf
GentleIntroTutors2018.synctex.gz
GentleIntroTutors2018.tex
GentleIntroTutors2018.toc
GentleIntro.aux
style.css
preamble.tex
