.rmdquestion, .rmdimportant, .rmdanswer {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdquestion {
  background-image: url("icons/question.png");
}
.rmdimportant {
  background-image: url("icons/important.png");
}
.rmdanswer {
  background-image: url("icons/answer.png");
}

