.rmdquestion, .rmdimportant, .rmdanswer {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdquestion {
  background-image: url("icons/question.png");
}
.rmdimportant {
  background-image: url("icons/important.png");
}
.rmdanswer {
  background-image: url("icons/answer.png");
}
.rmdmunchhausen, .rmdneyman, .rmdpearson, .rmdfisher, .rmdgausslaplace {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/7em no-repeat;
  background-image: url("icons/Munchhausen.png");
}
.rmdmunchhausen {
  background-image: url("icons/Munchhausen.png");
}
.rmdneyman {
  background-image: url("icons/jerzyneyman2.png");
}
.rmdpearson {
  background-image: url("icons/egonpearson2.png");
}
.rmdfisher {
  background-image: url("icons/fisher2.png");    
}
.rmdgausslaplace {
  background-image: url("icons/gausslaplace.png");    
}                                                 